%p.found
  #{page_entries_info @results}
%ul
  - @results.each do |result|
    = render result
    %hr
= paginate @results

:coffeescript
  $ ->
    $(".collapsed").click ->
      $(@).siblings(".extras").toggleClass("hidden")
      $(@).find("i").toggleClass("fa-angle-double-down")